<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(find robot)/worlds/test.world"/>
    
  </include>
 <node name="publisher" pkg="robot" type="bluetracker.py" required="true" />
</launch>
